*{
    font-family: sans-serif;
}
.cadform{
    background-color: rgb(231, 231, 231);
    padding: 100px 0px;
}

form{
    background-color: white;
    padding: 20px 200px;

}
form input{
    padding: 7px;
}