.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    justify-content: space-between;
}
.menu-conteiner{
    margin: 0px 70px 0px 0px;
}
.conteiner-card{
    width: 100vw;
    margin: 0px 0px 0px 150px;
}
.form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    
    width: 80%;
    margin: auto;
}
fieldset{
    padding: 20px;
    margin: 10px 0px;
    font-weight: 600;
}
h2 {
    text-align: center;
    color: #333;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
select{
    background-color: #2f9e41 ;
    color: white;
    cursor: pointer;
}
input, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.btn-save {
    background-color: #28a745;
}






button:hover {
    opacity: 0.8;
}
/* Estilização do input com ícone */
.input-icon {
    position: relative;
    display: flex;
    align-items: center;
    
}

.input-icon input {
    width: 90%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
}

.input-icon .icon {
    position: absolute;
    right: 40px;
    color: black; 
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.input-icon .icon:hover {
    color: #28a745;
}
