*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    background-color: rgb(237, 237, 237);
}
.login-conteiner{
    margin: 150px auto;
    background-color: white;
   width: 500px;

    display: flex;
    flex-direction: row-reverse;

}
img{
    width: 100px;
    margin: auto;
}

.login{
    width: 100%;
    padding: 30px;
}
.login h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.input label{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px 0px;
    font-weight: 600;
}
.input input{
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0px;
    border: 1px solid gray;
}
.buttons{
    display: flex;
    width: 150px;
    margin: auto;
    justify-content: space-between;
}
.buttons .cancelb{
    padding: 8px;
    border: 0px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
    font-weight: 500;
    background-color: #e6e6e6;
    color: #2f9e41;
}
.cancelb a{
    color: #227930;
}
.buttons button{
    padding: 8px;
    border: 0px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
    font-weight: 500;
    background-color: #2f9e41;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.cancelb,button:hover{
    color: white;
    background-color: #227930;
}